<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.mini.fieldServices">

    <dist:module dist:instant="true" />

     <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/main_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/main_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NewEntry"></activity>
        <activity android:name=".technicianFeed" />
        <activity android:name=".loginSelect" />
        <activity android:name=".stockUpdate" />
        <activity android:name=".feed" />
        <activity android:name=".profile" />
        <activity android:name=".contactUs" />
        <activity android:name=".stock" />
        <activity android:name=".techSignup" />
        <activity android:name=".techLogin" />
        <activity android:name=".Home" />
        <activity android:name=".SignUp" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>